In [45]:
d = {}

In [47]:
d = {"Anastasia": 24, "Tatia": 26, "Niniko": 20, "Petre": 30, "Anastasia": 25}

In [48]:
print(d)

{'Anastasia': 25, 'Tatia': 26, 'Niniko': 20, 'Petre': 30}

In [49]:
d["Niniko"]

20

In [50]:
d["Tatia"] = 30

In [51]:
print(d)

{'Anastasia': 25, 'Tatia': 30, 'Niniko': 20, 'Petre': 30}

In [52]:
print(d["Pavle"])

KeyError: 'Pavle'

In [53]:
d["Pavle"] = 50

In [54]:
print(d)

{'Anastasia': 25, 'Tatia': 30, 'Niniko': 20, 'Petre': 30, 'Pavle': 50}

In [55]:
for key, value in d.items():
  print(key, value)

Anastasia 25
Tatia 30
Niniko 20
Petre 30
Pavle 50